# Server Port
PORT=5000

# MongoDB Connection String
MONGODB_URI=mongodb://127.0.0.1:27017/markdown_notes

# Allowed Frontend URL for CORS
CLIENT_URL=http://localhost:5173

# Node Environment (development | production)
NODE_ENV=development

# Firebase Project ID (for Firebase Admin SDK token verification)
FIREBASE_PROJECT_ID=your-firebase-project-id
